In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")

In [8]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset=dataset.drop(columns=["Gender_Male"])
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Female
0    15624510   19            19000          0              0
1    15810944   35            20000          0              0
2    15668575   26            43000          0              1
3    15603246   27            57000          0              1
4    15804002   19            76000          0              0
..        ...  ...              ...        ...            ...
395  15691863   46            41000          1              1
396  15706071   51            23000          1              0
397  15654296   50            20000          1              1
398  15755018   36            33000          0              0
399  15594041   49            36000          1              1

[400 rows x 5 columns]

In [9]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Female'], dtype='object')

In [13]:
#classifying the output 
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [10]:
ind =dataset[['Age', 'EstimatedSalary','Gender_Female']]
ind

      User ID  Age  EstimatedSalary  Gender_Female
0    15624510   19            19000              0
1    15810944   35            20000              0
2    15668575   26            43000              1
3    15603246   27            57000              1
4    15804002   19            76000              0
..        ...  ...              ...            ...
395  15691863   46            41000              1
396  15706071   51            23000              0
397  15654296   50            20000              1
398  15755018   36            33000              0
399  15594041   49            36000              1

[400 rows x 4 columns]

In [11]:
dep=dataset[['Purchased']]
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(ind, dep, test_size=0.30, random_state=0)

In [17]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=100,criterion='entropy',random_state=0)
classifier=classifier.fit(x_train,y_train)

C:\Gowri\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [18]:
y_pred=classifier.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred) 
cm

array([[73,  6],
       [ 3, 38]], dtype=int64)

In [22]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred) 
print(clf_report)

              precision    recall  f1-score   support

           0       0.96      0.92      0.94        79
           1       0.86      0.93      0.89        41

    accuracy                           0.93       120
   macro avg       0.91      0.93      0.92       120
weighted avg       0.93      0.93      0.93       120

In [ ]:
Age_input=float(input("Enter Age:"))
EstimatedSalary_input=float(input("Enter EstimatedSalary:"))
Gender_Female_input=int(input("Sex Female 0 or 1:"))

In [ ]:
classifier.predict([[Age_input,EstimatedSalary_input,Gender_Female_input]])

In [ ]:
dir(clf_report)

In [11]:
import pickle
filename = "finalized_model_RF.sav"

In [12]:
pickle.dump(regressor,open(filename,'wb'))

In [13]:
loaded_model=pickle.load(open("finalized_model_RF.sav",'rb'))
#for MLR we need to pass more than 1 input so check no. of inputs
result=loaded_model.predict([[123,450,760,1,0]])
result

C:\Gowri\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([34742.1076])